{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="container-fluid body-content account-container">
        <div class="text-center account-card m-4">
            <h1 class="account-title">Make a Booking</h1>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Book</button>
                </form>
            </div>
        </div>
    </div>
{% else %}
    You are not able to do this. Please <a href="{% url 'login' %}">Login</a>.
{% endif %}


{% endblock %}