{% extends 'base.html' %}

{% block content %}

<div class="container-fluid section">
    <h1 class="section-title"><em>About Us</em></h1>

    <!-- About section -->
    <div class="row about-section">
        <div class="about-text col-12 col-md-7">
            <h3>Samantha: Founder/Owner</h3>
            <p>Little White Dress is a dream that I feel so lucky to have made into a reality. It was born out of the idea that brides of all shapes, sizes, colours, and personalities should have the best experience possible when shopping for their wedding dress.</p>
            <br>
            <p>I have a wealth of experience working in the Events industry, and was a full-time Wedding Planner until Covid hit in 2020. I took the chance to stop and think about what I really wanted coming out of the pandemic, and knew that what made me happiest was helping brides to find their dream dress - and seeing their faces when they do!</p>
            <br>
            <p>I believe in giving every bride that walks through my door a warm and welcoming experience. I can promise you two things; I will go to all lengths to find the perfect gown for you, and I will make sure you have fun doing it!</p>
        </div>
        <div class="brides-img col-12 col-md-5 d-flex align-items-center justify-content-center">
            <img class="about-img" src="https://res.cloudinary.com/ksjl86/image/upload/v1693222629/365412703_10162337466160701_8936362968618899870_n_lcwsn2.webp" alt="image of owner Samantha holding her baby daughter">
        </div>
    </div>

    <!-- Location section -->
    <div class="row location-section">
        <div class="about-text col-12 col-md-7">
            <h3>Where we are</h3>
            <p>Little White Dress has teamed up with local vineyard Rockery Bay to bring you the most inspiring location for dress shopping that you'll find!</p>
            <p>Why not indulge in a wine tasting at the on-site bar and maybe pick up some special bottles for your special day?</p>
        </div>
        <div class="brides-img col-12 col-md-5 d-flex align-items-center justify-content-center">
            <img class="about-img" src="https://res.cloudinary.com/ksjl86/image/upload/v1691745534/pexels-life-of-pix-3540_hbuur7.webp" alt="image of grape vines">
        </div>
    </div>
</div>

{% endblock %}