{% extends 'base.html' %}

{% block content %}

<div class="container-fluid section">
    <h1 class="section-title"><em>About Us</em></h1>

    <!-- About section -->
    <div class="row about-section mb-5">
        <div class="about-text col-12">
            <h3>Samantha: Founder/Owner</h3>
            <p>Little White Dress is a dream that I feel so lucky to have made into a reality. It was born out of the idea that brides of all shapes, sizes, colours, and personalities should have the best experience possible when shopping for their wedding dress.</p>
            <br>
            <p>I have a wealth of experience working in the Events industry, and was a full-time Wedding Planner until Covid hit in 2020. I took the chance to stop and think about what I really wanted coming out of the pandemic, and knew that what made me happiest was helping brides to find their dream dress - and seeing their faces when they do!</p>
            <br>
            <p>I believe in giving every bride that walks through my door a warm and welcoming experience. I can promise you two things; I will go to all lengths to find the perfect gown for you, and I will make sure you have fun doing it!</p>
        </div>
        <div class="brides-img col-12 d-flex align-items-center justify-content-center">
            <img class="" src="https://res.cloudinary.com/ksjl86/image/upload/v1691741321/sam_tvfhgy.webp" alt="image of owner Samantha holding her baby daughter">
        </div>
    </div>

    <!-- Find us section -->
    <div class="row map-section">
        <div class="about-text col-12">
            <h3>Where we are</h3>
            <p>Little White Dress is based in a small building on the Marsh Barton Trading Estate in Exeter.</p>
            <p>Being located here means that we have plenty of on-site parking, making your visit to us as stress-free as possible!</p>
            <p><em>Please note that we are open to pre-booked appointments only</em></p>
        </div>
        <div class="brides-img col-12 d-flex align-items-center justify-content-start">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7644.300265284562!2d-3.5197604310265866!3d50.69670891954142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2suk!4v1691743064330!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{% endblock %}