{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Little White Dress</title>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><span class="brand">Little White Dress</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About
                            </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'about' %}">About LWD</a></li>
                            <li><a class="dropdown-item" href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            My Account
                            </a>
                            <ul class="dropdown-menu">
                                {% if user.customer.id %}
                                    <li><a class="dropdown-item" href="{% url 'profile' user.customer.id %}">Profile</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'create_profile' %}">Create Profile</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Community
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'community' %}">Community Recommendations</a></li>
                                <li><a class="dropdown-item" href="{% url 'add_recommendations' user.customer.id %}">Add a Recommendation</a></li>
                                <li><a class="dropdown-item" href="{% url 'my_recommendations' user.customer.id %}">View my Recommendations</a></li>
                            </ul>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container-fluid text-center mt-3 py-3">
            <a class="link-no-decor social-media-links" href="http://pinterest.com" target="_blank" rel="noopener" aria-label="visit our pinterest page (opens in new tab)"><i class="fa-brands fa-pinterest"></i></a>
            <a class="link-no-decor social-media-links" href="http://instagram.com" target="_blank" rel="noopener" aria-label="visit our instagram page (opens in new tab)"><i class="fa-brands fa-instagram"></i></a>
            <a class="link-no-decor social-media-links" href="http://facebook.com" target="_blank" rel="noopener" aria-label="visit our facebook page (opens in new tab)"><i class="fa-brands fa-facebook"></i></a>
            <a class="link-no-decor social-media-links" href="http://tiktok.com" target="_blank" rel="noopener" aria-label="visit our tiktok page (opens in new tab)"><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <div class="container-fluid text-center">
            <p class="mb-0">This is a fictional site created for educational purposes</p>
            <p class="mb-0 pb-3">Copyright <i class="fa-regular fa-copyright"></i> KSL Designs</p>
        </div>
    </footer>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b59d6ce89e.js" crossorigin="anonymous"></script>
</body>

</html>
