{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h1 class="text-center"><em>Contact</em></h1>

    <!-- Find us section -->
    <div class="row map-section">
        <div class="about-text col-12">
            <h3>Where we are</h3>
            <p>Little White Dress is based in a small building on the Marsh Barton Trading Estate in Exeter.</p>
            <p>Being located here means that we have plenty of on-site parking, making your visit to us as stress-free as possible!</p>
            <p><em>Please note that we are open to pre-booked appointments only</em></p>
        </div>
        <div class="brides-img col-12 d-flex align-items-center justify-content-start">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7644.300265284562!2d-3.5197604310265866!3d50.69670891954142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2suk!4v1691743064330!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{% endblock %}