{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h1 class="text-center"><em>Contact</em></h1>

    <!-- Find us section -->
    <div class="row location-section">
        <div class="about-text col-12">
            <h3>Find Us</h3>
            <p>Little White Dress is located on-site at the Rockery Bay Vineyard on the outskirts of Exeter.</p>
            <p>We have plenty of on-site parking, making your visit to us as stress-free as possible!</p>
            <p><em>Please note that we are open to pre-booked appointments only</em></p>
        </div>
        <div class="brides-img col-12 d-flex align-items-center justify-content-start">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d64796.55849798284!2d-3.4990810853569267!3d50.69256480104225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2suk!4v1691746648092!5m2!1sen!2suk"></iframe>
        </div>
    </div>
</div>

{% endblock %}