{% extends 'base.html' %}

{% block content %}

<!-- Hero image -->
<div class="container-fluid hero-container">
    <div class="text-center big-btn">
        <button class="mb-0" type="button">
            <a href="" class="link-no-decor"><em>Book an appointment</em></a>
        </button>
    </div>
    <div>
        <div class="carousel-inner">
            <div>
                <img src="https://res.cloudinary.com/ksjl86/image/upload/v1691570875/hero_3_em3ezd.webp"
                    class="d-block w-100 hero-image" alt="...">
                <div class="carousel-overlay">
                    <h2 id="hero-text"><em>Find your perfect gown</em></h2>
                    <button class="hero-btn" type="button">
                        <a href="" class="link-no-decor"><em>Book an appointment</em></a>
                    </button>
                </div>
            </div>
    </div>

    <!-- Collections section -->
    <div class="section-title">
        <h2><em>Our Collections</em></h2>
        <button type="button">
            <a href="{% url 'products' %}" class="link-no-decor">Shop all styles</a>
        </button>
    </div>

    <div class="container-fluid category-section">
        <div class="row">

            <!-- Collections Category Row -->
            <div class="col-12">
                <div class="row category row-cols-sm-3 row-cols-md-4 collection-container">
                    {% for category in category_list %}
                    <div class="card-body">
                        <a href="{% url 'category' category.category_name %}" class="category-link">
                            <div>
                                <img src=" {{ category.category_image.url }}" alt="category image">
                            </div>
                            <h3 class="card-title">{{ category.category_name }}</h3>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                </div>
                <div class="row category-row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Come and see us section -->
    <div class="container-fluid section-title appt-section">
        <h2><em>Come and See Us</em></h2>
        <p class="lead">Trying on dresses is a right of passage for any bride. We'll make your experience as special as it should be.</p>
        <p class="lead">Bring up to 5 guests, enjoy a glass of fizz, and let's see if we can find your <em>'one' </em>!</p>
        <button class="appt-btn" type="button">
            {% if user.is_authenticated %}
                <a href="#" class="link-no-decor">Book an Appointment</a>
            {% else %}
            <a href="{% url 'login' %}" class="link-no-decor">Book an Appointment</a>
            {% endif %}
        </button>
    </div>

    <!-- Community section -->
    <div class="container-fluid section-title mt-3">
        <h2><em>Join our community of Brides</em></h2>
        <h3><em>Get in-the-know recommendations and share your knowledge too!</em></h3>
        <p class="lead"><a class="link-no-decor link-hover" href="{% url 'register' %}">Register</a> or <a class="link-no-decor link-hover" href="{% url 'login' %}">Login</a> now to read more and contribute your recommendations to other brides</p>

        <!-- Sample Recommendations Row -->
        <div class="col-12">
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 justify-content-center">
                {% for item in user_recommendations %}
                    <div class="card-body recommendation-cards m-4">
                        <div class="p-4">
                            <h3 class="link-no-decor">{{ item.title }}</h3>
                            <p class="link-no-decor"><em>Location: {{ item.location }}</em></p>
                            <h4 class="link-no-decor link-hover"><a href=""></a><i class="fa-light fa-globe-pointer"></i> Visit Website</h4>
                            <p class="link-no-decor lead">{{ item.summary }}</p>
                            <p class="link-no-decor"><em>Posted on: {{ item.date_posted }}</em></p>
                            <p class="link-no-decor"><em>Posted by: {{ item.posted_by }}</em></p>
                        </div>
                    </div> 
                {% endfor %}   
            </div>
        </div>

        <div class="mt-4 pt-2">
            {% if user.is_authenticated %}
                <a class="link-no-decor link-hover" href="{% url 'community' %}"><h3>Read more recommendations now, or contribute your own!</h3></a>
            {% else %}
                <a class="link-no-decor link-hover" href="{% url 'login' %}"><h3>Read more recommendations now, or contribute your own!</h3></a>
            {% endif %}
        </div>
    </div>
    
    <!-- Testimonials section -->
    <div class="outer-section">
        <div class="container-fluid section-title brides-section">
            <h2><em>Our Brides</em></h2>
            <div class="row pb-4">
                <div class="brides-text-first col-12 col-sm-6">
                    <h3>Kate & James</h3>
                    <p><em>"As a plus size bride I was really nervous about trying on dresses, but Samantha was so incredibly welcoming and made me feel just as special and deserving as any bride that walked through her door"</em></p>
                </div>
                <div class="brides-img col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                    <img class="rounded-circle" src="https://res.cloudinary.com/ksjl86/image/upload/v1691575581/katejames_ycuqt7_sugd3w.webp" alt="">
                </div>
            </div>
            <div class="row">
                <div class="brides-text-second col-12 col-sm-6">
                    <h3>Jane & Mike</h3>
                    <p><em>"If it wasn't for Samantha at Little White Dress I would never have even tried on the style that I ended up having. I'm so grateful to her for all her patience and honest advice!"</em></p>
                </div>
                <div class="brides-img col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
                    <img class="rounded-circle" src="https://res.cloudinary.com/ksjl86/image/upload/v1691584723/janemike_bvwgnx.webp" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

