{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="container-fluid body-content account-container">
        <div class="text-center account-card m-4">
            <h1 class="account-title">Change Password</h1>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <ul>
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>

                    <button class="btn btn-secondary">Set new password</button> 
                </form>
            </div>
        </div>
    </div>
{% else %}
    You are not able to do this. Please <a href="{% url 'login' %}">Login</a>.
{% endif %}

{% endblock %}