{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
        <div class="container-fluid body-content">
            <h1>Add a Recommendation</h1>

            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <h2>Code of Conduct:</h2>
                        <ul>
                            <li>Always treat others with kindness and respect, even if you don't agree with them</li>
                            <li>Stay on topic, don't intentionally derail threads</li>
                            <li>Don't troll</li>
                            <li>Don't spam</li>
                            <li>Use appropriate language</li>
                            <li>Do not intentionally insult or offend others</li>
                            <li>We do not tolerate hate speech, intimidation, harassment, sexual, racial, or ethnic slurs, and discrimination.</li>
                        </ul>
                    </div>
                    <button class="btn btn-secondary">Add</button>
                </form>
            </div>
        </div>
{% else %}
    You are not able to do this. Please <a href="{% url 'login' %}">Login</a>.
{% endif %}

{% endblock %}