{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
        <div class="container-fluid">
            <h1>Add a Recommendation</h1>

            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Add</button>
                </form>
            </div>
        </div>
{% else %}
    You are not able to do this. Please <a href="{% url 'login' %}">Login</a>.

{% endblock %}