{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h1 class="text-center"><em>Our Bridal Community</em></h1>
    <div class="d-flex my-3 py-3 justify-content-center">
        <div class="flex-column">
            <button class="btn btn-outline-secondary mx-2 page-button"><a class="link-no-decor"
                    href="{% url 'my_recommendations' user.customer.id %}">My Contributions</a></button>
            <button class="btn btn-outline-secondary mx-2 page-button"><a class="link-no-decor"
                    href="{% url 'add_recommendations' user.customer.id %}">Add a Recommendation</a></button>
            <button class="btn btn-outline-secondary mx-2 page-button"><a class="link-no-decor"
                    href="{% url 'profile' user.customer.id %}">My Profile</a></button>
        </div>
    </div>

    <div class="community-section my-3 py-3">
        <div class="justify-content-center">
            {% if not all_recommendations %}
                <p class="lead">There are currently no recommendations</p>
            {% else %}
                <div class="col-12">
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 justify-content-center">
                        {% for item in all_recommendations %}
                            <div class="card-body recommendation-cards m-4">
                                <div class="p-4">
                                    <h3 class="link-no-decor">{{ item.title }} - {{ item.type_of_recommendation }}</h3>
                                    <p class="link-no-decor"><em>Location: {{ item.location }}</em></p>
                                    <h4><a class="link-no-decor link-hover" href="http://{{ item.web_link }}" target="_blank" rel="noopener"><i class="fa-light fa-globe-pointer"></i> Visit Website</a></h4>
                                    <p class="link-no-decor lead">{{ item.summary }}</p>
                                    <p class="link-no-decor"><em>Posted on: {{ item.date_posted }}</em></p>
                                    <p class="link-no-decor"><em>Posted by: {{ item.posted_by }}</em></p>
                                </div>
                            </div> 
                        {% endfor %}   
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}