{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h1 class="text-center"><em>Our Bridal Community</em></h1>
    <div>
        <div>
            <button class="btn btn-outline-secondary mx-2"><a class="link-no-decor" href="{% url 'my_recommendations' user.customer.id %}">View your Contributions</a></button>
            <button class="btn btn-outline-secondary mx-2"><a class="link-no-decor" href="{% url 'add_recommendations' user.customer.id %}">Add a Recommendation</a></button>
            <button class="btn btn-outline-secondary mx-2"><a class="link-no-decor" href="{% url 'profile' user.customer.id %}">Go to your Profile</a></button>
        </div>
    </div>
    <!-- <div class="col-12">
        <div class="row category row-cols-2 row-cols-sm-3 row-cols-md-4 collection-container">
            {% for product in product_list %}
            <div class="card-body">
                <a href="{% url 'product_details' product.pk %}" class="product-link">
                    <div class="image-container product-image">
                        <img src=" {{ product.main_image.url }}" alt="category image">
                    </div>
                    <h3 class="link-no-decor">{{ product.item_name }}</h3>
                    <p class="link-no-decor">{{ product.category }}</p>
                    <p class="link-no-decor">£{{ product.price }}</p>
                </a>
            </div>
            {% endfor %}
        </div>  
    </div> -->
</div>

{% endblock %}