{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="container-fluid">
        <h1 class="section-title">My Recommendations</h1>
        <!-- Community Buttons -->
        <div class="d-flex my-3 py-3 justify-content-center align-items-center text-center">
            <div class="flex-column">
                <a class="link-no-decor" href="{% url 'community' %}">
                    <p class="btn btn-outline-secondary mx-2 page-button">Community Recommendations</p>
                </a>
                <a class="link-no-decor" href="{% url 'add_recommendations' user.customer.id %}">
                    <p class="btn btn-outline-secondary mx-2 page-button">Add a Recommendation</p>
                </a>
                <a class="link-no-decor" href="{% url 'profile' user.customer.id %}">
                    <p class="btn btn-outline-secondary mx-2 page-button">My Profile</p>
                </a>
            </div>
        </div>
        
        <!-- Display user Recommendations -->
        <div class="col-12 community-section">
            {% if not user_recommendations %}
                <p class="lead text-center">You have not yet added any recommendations</p>
            {% else %}
                <div class="row category row-cols-2 row-cols-sm-3 row-cols-md-4 justify-content-center">
                    {% for item in user_recommendations %}
                    <div class="card-body recommendation-cards m-4">
                        <div class="p-4">
                            <div class="info-border text-center p-2 mb-2">
                                <h3 class="link-no-decor text-uppercase">{{ item.type_of_recommendation }}</h3>
                                <h3 class="link-no-decor">{{ item.title }}</h3>
                                <p class="link-no-decor"><em>Location: {{ item.location }}</em></p>
                                <a class="link-no-decor link-hover" href="http://{{ item.web_link }}" target="_blank" rel="noopener" aria-label="visit organisations external website(opens in new tab)"><h4><i class="fa-light fa-globe-pointer"></i> Visit Website</h4></a>
                            </div>
                            <p class="link-no-decor lead">{{ item.summary }}</p>
                            <p class="link-no-decor"><em>Posted on: {{ item.date_posted }}</em></p>
                            <p class="link-no-decor"><em>Posted by: {{ item.posted_by }}</em></p>
                        </div>
                        {% if user.id == item.user.id %}
                        <a class="link-no-decor" href="{% url 'edit_recommendation' item.pk %}"><p class="btn btn-outline-secondary mb-4 mx-4">Edit</p></a>
                        <a href="{% url 'delete_recommendation' item.pk %}" class="link-no-decor"><p class="btn btn-outline-danger mb-4">Delete</p></a>
                        {% endif %}
                    </div>
                    {% endfor %}
            {% endif %}
                </div>
        </div>
{% else %}
    You are not able to do this. Please <a href="{% url 'login' %}">Login</a>.
{% endif %}
    </div>

{% endblock %}